
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F8F5F7;
  color: #670626;
}

.perfil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  background: linear-gradient(135deg, #D16D82, #8C2F39);

}.perfil {
  color: #F8F5F7;
}


.perfil h1{
  font-size: clamp(2rem, 5vw, 4rem);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid #F8F5F7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #F8F5F7;
  font-weight: bold;
  transition: 0.3s;

}
.icon {
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
}

.icon:hover {
  background-color: #F8F5F7;
  color: #e5869b;
}

 .sobre-mim {
  padding: 80px 20px;
}
.sobre-mim p{
  font-size: 20px;
  
}

.sobre-container {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 900px;
  margin: auto;
}


.foto-perfil {
  width: 280px;
  border-radius: 50%;
  margin: 20px 0;
}
.habilidades{
  text-align: center;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  background: #e5869b;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-weight: bold;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
}
.skill-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

